*{
    margin: 0;padding: 0;box-sizing: border-box;
}
header{
    width: 100%; height: 100%;
    background-image: url('background.jpg');
    background-size: cover;
    
}
nav image{
    mix-blend-mode: multiply;
}
nav{
    width: 100%;
    height: 10%;
    background:goldenrod;
    word-spacing: 770px;
    display: flex;
    align-items: center;
    font-size: 120%;
}
div[class="menu"] {
    float: left;
    text-align: center;
    background: black;
    width: 15%;
    height: 90%;
    font-weight: bold;
    font-size: x-large;
}
div[class="menu"] a{
    text-decoration: none;
    color:  white;
} 
div[class="menu"] a:hover{
    text-decoration: none;
    color:  goldenrod;
} 
main{
    display: block;
    margin-left: 500px;
    margin-top: 100px;
    width: 50%;
}
